.teamname {
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    font-size: 20px;
  }
.card__big {
    border-radius: 0.75rem;
    background-color: #687387;
    height: 400px;
    width: 300px;
}
hr.rounded {
    border-top: 1px solid #ffffff;
    width: 70%;
    border-radius: .5rem;
    vertical-align: middle;
}
.raidtimes {
    text-align: center;
    color: white;
    font-weight: initial;
    font-family: 'Times New Roman', Times, serif;
}
.raidtimes__text {
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.table__classes {
    align-items: center;
    border-color: black;
    margin: 0 auto;
    border-spacing: 20px 5px;
}
.table__tabledata {
    border: 0px solid;
}
.img__classes {
    height: 25px;
    width: 25px;
    border-radius: 2rem;
}
.button {
    border-radius: 0.5rem;
    border:rgb(255, 255, 255);
    height: 30px;
    width: 150px;
    background-color: #88D498;
    color: black;
    font-weight: bolder;
}